body{
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background: rgb(245, 245, 245);
}

#interior {
    max-width: 1200px;
    min-height: 800px;
    margin: 0px auto;

    /* flexbox */
}


/* ETCH-A-SKETCH */

#etchSketchBody {
    height: 720px;
    width: 900px;
    margin-top: 40px;

    border-radius: 1px;
    border: 3px solid rgb(185, 45, 75);
    background-color: rgb(255, 150, 150);

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#etchHeader {
    height: 80px;
    width: 480px;

    /* flexbox */
    align-items: center;
    justify-content: space-evenly;
}

#etchSketchScreen {
    height: 450px;
    width: 650px;

    border-radius: 1px;
    border: 1px solid rgb(185, 45, 75);
    background-color: rgb(245, 245, 245);
}

#etchButtons {
    height: 80px;
    width: 600px;
    
    /* flex box */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    font-size: 24px;
}


/* MODAL BOXES */

.modal {    /* background */
    display: none;  /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 100px; /* location of box */
    left: 0;
    top: 0;
    width: 100%;    /* full width */
    height: 100%;   /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);   /* black w opacity */
}

.modalContent { /* box */
    background-color: red;
    margin: auto;
    padding: 20px;
    border: 2px solid darkred;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* #sizeModal {

}

#clearModal {

} */


/* CLASSES */

.flexBox {
    display: flex;
    justify-content: center;
}

.text {
    color: rgb(185, 45, 75);
}

.button {
    height: 48px;
    width: 140px;

    border-radius: 1px;
    background: rgb(255, 150, 150);
    border: 2px solid rgb(185, 45, 75);
}

.button:hover, .button:focus {
    background: rgb(185, 45, 75);
    color: rgb(255, 150, 150);
    cursor: pointer;
}

.row {
    width: 100%;

    box-sizing: border-box;
    border-top: 1px solid rgb(185, 45, 75);
    border-bottom: 1px solid rgb(185, 45, 75);
}

.column {
    height: 100%;

    box-sizing: border-box;
    border-left: 1px solid rgb(185, 45, 75);
    border-right: 1px solid rgb(185, 45, 75);

    background-color: rgb(245, 245, 245);
}